$font-family: 'Poppins', sans-serif;
$section-title-ft-size: 44px;
$section-title-ft-weight: bold;
$section-bottom-spaceing: 50px;
$section-title-ft-color: #50473D;

$container-width: 75%;

$primary-color: #C7B299;
$yellow-color: #FFC120;
$link-color: black;
$link-font-size: 16px;
$link-font-weight: bold;
