@import '@/shared/scss/_links';

.button-link {
  background-color: #F1ECE5;
  border-radius: 5px;
  align-items: center;

  &:hover {
    background-color: #E1D3BF;
  }

  .link__title {
    margin-right: 10px;
    padding-left: 10px;
  }

  .link__arrow {
    padding-right: 10px;
  }
}